<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nesma.musicalapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PlayActivity"
            android:label="@string/play"
            android:parentActivityName=".SongsActivity"></activity>
        <activity
            android:name=".AlbumActivity"
            android:label="@string/album"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PLayListActivity"
            android:label="@string/playlist"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ArtistsActivity"
            android:label="@string/artists"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SongsActivity"
            android:label="@string/songs"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>